
header{
    background-color: bisque;
    width: 100%;

} nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
nav a{
    text-decoration: none;
} nav h1 span{
    color:#FD6E0A ;
}
nav h1{
    font-family:sans-serif;
    font-weight: 700;
    margin-left: 205px;

}
.first-btn{
    background-color:#FD6E0A ;
    color: white;
    margin: 4px;
    width: 80px;
height: 25px;
border-radius: 3px;
border: 0;
font-weight: 500;
}.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../portfolio-resources/images/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}.banner-intro{
    margin-left: 239px;
}.banner h3{
    font-family:  sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:#474747 ;
    margin-top:150px;
}.banner h1{
    font-family: serif;
    font-size: 67px;
    font-weight: 700;
    color:#181818 ;
    margin-top: 3px;
}
.banner-intro .btn-one{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 10px;
    padding-right: 45px;

}.btn-prime{
    background-color: #FD6E0A;
    height: 35px;
    color: aliceblue;
    border: hidden;
    border-radius: 3px;
}.btn-two{
    height: 35px;
    border: hidden;
    border-radius: 3px;
    color: hsl(25, 98%, 52%); 
    border: 2px solid #FD6E0A;
}
